@model PagedList.IPagedList<QuanLyVeSo.Data.EntityFramework.GiaVeSo>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Giá vé số";
}

@section header{
    Quản lý giá vé số
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            @using (Html.BeginForm("Index", "GiaVeSo", FormMethod.Get))
            {
                <div class="box-header">
                    <h3 class="box-title">Danh sách đại lý</h3>

                    <div class="box-tools pull-right">

                        <div class="input-group input-group-sm col-md-4 pull-right col-xs-offset-1">
                            @Html.TextBox("query", ViewBag.CurrentFilter as string, new { @class = "form-control pull-right", @placeholder = "Tìm kiếm" })
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>

                        <div class="pull-right">
                            <a href="/Admin/DaiLy/Create" class="btn btn-info btn-sm"> <i class="fa  fa-plus"></i> Thêm mới</a>
                        </div>
                    </div>
                </div>
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th>Mã đại lý</th>
                        <th>Tên đại lý</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.MaDaiLy" class="">
                            <td>@item.MaDaiLy</td>
                            <td>@item.TenDaiLy</td>
                            <td>@item.DiaChi</td>
                            <td>@item.SoDienThoai</td>
                            <td>
                                @Html.ActionLink((@item.TrangThai == true ? "Kích hoạt" : "Khóa"), "ChangeStatus", "DaiLy", new { maDaiLy = @item.MaDaiLy }, new { @class = (@item.TrangThai == true ? "btnchangestatus label label-success" : "btnchangestatus label label-danger"), @data_id = @item.MaDaiLy })
                            </td>

                            <td>
                                @Html.ActionLink("Chi tiết", "Detail", new { ID = item.MaDaiLy }) |
                                @Html.ActionLink("Sửa", "Edit", new { ID = item.MaDaiLy }) |
                                @Ajax.ActionLink("Xóa", "Delete", "Content", new { id = item.MaDaiLy }, new AjaxOptions
                                {
                                    HttpMethod = "Delete",
                                    Confirm = "Bạn muốn xóa bài viết này?",
                                    OnSuccess = "$('#row_" + @item.MaDaiLy + "').remove()",
                                })
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <!-- /.box-body -->
            <!-- /.box-footer -->
        </div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) của @Model.PageCount
    </div>
    <!-- /.box -->
</div>