@model PagedList.IPagedList<QuanLyVeSo.Data.EntityFramework.DaiLy>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Đại lý";
}

@section header{
    <h1>Quản lý đại lý</h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="/Admin/DaiLy">Đại lý</a></li>
        <li class="active">Danh sách</li>
    </ol>
}

@section scripts{
    <script src="~/Assets/Admin/js/controller/dailycontroller.js"></script>
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            @using (Html.BeginForm("Index", "DaiLy", FormMethod.Get))
            {
                <div class="box-header">
                    <h3 class="box-title">Danh sách đại lý</h3>

                    <div class="box-tools pull-right">

                        <div class="input-group input-group-sm col-md-4 pull-right col-xs-offset-1">
                            @Html.TextBox("query", ViewBag.CurrentFilter as string, new { @class = "form-control pull-right", @placeholder = "Tìm kiếm" })
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>

                        <div class="pull-right">
                            <a href="/Admin/DaiLy/Create" class="btn btn-info btn-sm"> <i class="fa  fa-plus"></i> Thêm mới</a>
                        </div>
                    </div>
                </div>
            }

            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th>Mã đại lý</th>
                        <th>Tên đại lý</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.MaDaiLy">
                            <td>@item.MaDaiLy</td>
                            <td>@item.TenDaiLy</td>
                            <td>@item.DiaChi</td>
                            <td>@item.SoDienThoai</td>
                            <td>
                                <a href="#" data-id="@item.MaDaiLy" class="@(item.TrangThai == true? "btn-change-status label label-success" : "btn-change-status label label-danger")">@(item.TrangThai ? "Kích hoạt" : "Khóa")</a>
                            </td>

                            <td>
                                @Html.ActionLink("Chi tiết", "Detail", new { ID = item.MaDaiLy }) |
                                @Html.ActionLink("Sửa", "Edit", new { ID = item.MaDaiLy }) |                      
                                <a href="#" data-id="@item.MaDaiLy" class="btn-delete">Xóa</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <!-- /.box-body -->
            <!-- /.box-footer -->
        </div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) của @Model.PageCount
    </div>
    <!-- /.box -->
</div>