@model QuanLyVeSo.Data.EntityFramework.CongNo

@{
    ViewBag.Title = "Thêm mới công nợ";
}

@section header{
<h1>Thêm mới công nợ</h1>
<ol class="breadcrumb">
    <li><a href="/Admin"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
    <li><a href="/Admin/CongNo">Công Nợ</a></li>
    <li class="active">Thêm mới</li>
</ol>
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6 col-md-offset-2">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Thông tin bài viết</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("Create", "CongNo", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MaCongNo)
                        @Html.TextBoxFor(model => model.MaCongNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaCongNo, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MaDaiLy)
                        @Html.TextBoxFor(model => model.MaDaiLy, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaDaiLy, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SoTienBan)
                        @Html.TextBoxFor(model => model.SoTienBan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SoTienBan, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.HoaHong)
                        @Html.TextBoxFor(model => model.HoaHong, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HoaHong, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NgayNo)
                        @Html.TextBoxFor(model => model.NgayNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NgayNo, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SoTienNo)
                        @Html.TextBoxFor(model => model.SoTienNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SoTienNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                    @Html.ActionLink("Hủy", "Index", new object { }, new { @class = "btn btn-default col-md-offset-1" })
                </div>
            }
        </div>
    </div>
</div>